@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../libs/fonts/Montserrat-Bold.eot');
  src: url('../libs/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/Montserrat-Bold.woff2') format('woff2'), url('../libs/fonts/Montserrat-Bold.woff') format('woff'), url('../libs/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    letter-spacing: .18em;
}


/*секции*/


section { 
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-size: 4em;
    margin-bottom: 20px;
}

}
#header-b{width:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}#header-b .bottom{width:335px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}#header-b .bottom a{position:relative;cursor:pointer;line-height:1.5;text-decoration:none;color:#262626}#header-b .bottom a:after{display:block;position:absolute;left:0;width:0;height:1px;background-color:#262626;content:"";-webkit-transition:width 0.25s ease-out;-o-transition:width 0.25s ease-out;transition:width 0.25s ease-out}#header-b .bottom a:hover:after{width:100%}.f-nav{z-index:9999;position:fixed;top:0;width:100%;padding-top:20px;padding-bottom:15px;background-color:white;-webkit-box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8);box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8)}
#header-b{background:white}#header-b{padding-bottom:15px;-webkit-box-shadow:0px 12px 13px rgba(200, 200, 200, 0.6);box-shadow:0px 12px 13px rgba(200, 200, 200, 0.6)}

