@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../libs/fonts/Montserrat-Bold.eot');
  src: url('../libs/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/Montserrat-Bold.woff2') format('woff2'), url('../libs/fonts/Montserrat-Bold.woff') format('woff'), url('../libs/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


h2{
    text-align: center;
}

.pic{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px 0 0 70px;
   
    
}
.all-info{
    font-size: 20px;
    margin-top: 12%;
      
}
.birth{
    margin-bottom: 1%;
    font-size: 37px;
    color: #c9c7c2;
    font-weight: 400;
    margin-left: 5%;
}
.name{
    margin-left: 5%;
    color: black;
    font-size: 55px;
    font-weight: 500; 
   
}
.name1{
    margin-top: -1%;
    margin-left: 5%;
    color: black;
    font-size: 75px;
    font-weight: 500; 
}
.info{
    margin-left: 20%;
    font-size: 17px;
    text-align: justify;
}

.line:before {
    display: block;                 
    width:70px;                    
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid  #c9c7c2;  
    top:50.5%; 
    left: 14%;
    margin-top: 1.2%;
                   
}
@media screen and (max-width: 1450px) {
  .line {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .rectangle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .rectangle1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .all-info {
    margin-left: 65px;
  }
}
@media screen and (max-width: 768px) {
  #back {
    background: #e8e8e8 ;
     
  }
}
.pic1{
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 110px;
    position: relative;
    z-index: 1;
    margin-right: 70px;

   
}
.rectangle{
    width: 900px;
    height: 754px;
    z-index: -1;
    background:#e8e8e8 ;
    float: right;
    position: relative;
    margin-top: -643px;
    
}
.rectangle1{
    width: 100%;
    height: 77vh;
    z-index: -1;
    background:#e8e8e8 ;
    float: right;
    position: relative;
    margin-top: -633px;
    
}
.info1{
    font-style: italic;
    font-size: 35px;
    
}
.pic-name{
    font-size: 45px;
    margin-bottom: 35px;
}
.pic-info{
    margin-right: 70px; 
    font-size: 17px;
    text-align: justify;
}
.pic2{
    display: block;
    max-width: 100%;
    height: auto;                      
    margin: 50px 0 0 70px;   
}
.all-info1{
    margin-left: 70px;
     margin-top: 10%
}

.pictures {
  display: flex;
  align-items: flex-start;
 
}
.pictures>*:first-child {
    align-self: stretch;
}
.pic-4{
    margin-top: 4%;
}
.pictures img{
    padding: 0 10px 0 10px;
}

.img img1{
    margin: 3px;
  max-width: 300px;
  width: 100%;
  max-height: 600px;
  height: 100%;
   
}
.img img{
    margin: 3px;
  max-width: 390px;
  width: 100%;
  max-height: 290px;
    height: 100%;
   
}
.block{
    display: inline-flex;
    flex-wrap: wrap;
    
}
.block{
    padding-top: 4%;
    padding-left: 2.5%;
    
}
#frida .block .image1{
position:relative;
}
 #frida .block .image1 .text{
position:absolute;
color:white;
width:100%;
padding:0;
text-align:center;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:all 0.6s ease;
-o-transition:all 0.6s ease;
transition:all 0.6s ease;

font-size: 23px;
font-weight: 500;
top: 40%;
}

#frida .block .image1:hover .text { /*появление текста при*/ наведении
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
}


#frida .block .image1 {
transition: 0.5s;
cursor: pointer;
}

#frida .block .image1:before {
content:"";
position:absolute;
height:99.3%;
margin-left: 10px;    
width:94%;
top:0;
left:0;
opacity:0;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
background:black;
border-radius:80%;
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease;
}
#frida .block .image1:hover:after{
position: absolute;
top: 10px;
right: 20px;
bottom: 13px;
left: 20px;
border: 2px solid white;
content: '';
}

#frida .block .image1:hover:before {
border-radius:inherit;
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
opacity:0.5;
}





#frida .block .image2{
position:relative;
}
 #frida .block .image2 .text{
position:absolute;
color:white;
width:100%;
padding:0;
text-align:center;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:all 0.6s ease;
-o-transition:all 0.6s ease;
transition:all 0.6s ease;

font-size: 23px;
font-weight: 500;
top: 40%;
}

#frida .block .image2:hover .text { /*появление текста при наведении*/
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
}


#frida .block .image2 {
transition: 0.5s;
cursor: pointer;
}

#frida .block .image2:before {
content:"";
position:absolute;
height:99%;
margin-left: 10px;    
width:95%;
top:0;
left:0;
opacity:0;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
background:black;
border-radius:80%;
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease;
}
#frida .block .image2:hover:after{
position: absolute;
top: 9px;
right: 20px;
bottom: 12px;
left: 20px;
border: 2px solid white;
content: '';
}

#frida .block .image2:hover:before {
border-radius:inherit;
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
opacity:0.5;
}



#frida .block .image3{
position:relative;
}
 #frida .block .image3 .text{
position:absolute;
color:white;
width:100%;
padding:0;
text-align:center;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:all 0.6s ease;
-o-transition:all 0.6s ease;
transition:all 0.6s ease;

font-size: 23px;
font-weight: 500;
top: 40%;
}

#frida .block .image3:hover .text { /*появление текста при наведении*/
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
}

#frida .block .image3 {
transition: 0.5s;
cursor: pointer;
}

#frida .block .image3:before {
content:"";
position:absolute;
height:93%;
margin-top: 16px;
margin-left: 10px;    
width:95%;
top:0;
left:0;
opacity:0;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
background:black;
border-radius:80%;
-webkit-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease;
}
#frida .block .image3:hover:after{
position: absolute;
top: 25px;
right: 20px;
bottom: 12px;
left: 20px;
border: 2px solid white;
content: '';
}

#frida .block .image3:hover:before {
border-radius:inherit;
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
opacity:0.5;
}



.overlay {
    z-index: 2;
	position: absolute;
	width: 100%;
	height: 100px;
	top: 50%;
	left: 0;
	/*background-color: rgba(0, 0, 0, .8);*/
	display: none;
}

.popup {
	position: absolute;
	width: 100%;
    min-height: 450px;
	left: 50%;
	top:0;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: #000;
    opacity: 0.7;
	color: #fff;
    z-index: 3;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.text-info{
     margin-left: 478px;
 
  	

    
}
.kartina1 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
    margin-top: -18%;
    left: 0;
    z-index: 5;
}
.kartina2 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
     margin-top: -19%;
    top: -4%; 
    left: 0;
     z-index: 5;
}
.kartina3 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
     margin-top: -19.5%;
    top: -2%; 
    left: 0;
     z-index: 5;
}
.kartina4 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
     margin-top: -18%;
    top: -15%; 
    left: 0;
     z-index: 5;
}
.kartina5 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
     margin-top: -18%;
    top: -15%; 
    left: 0;
     z-index: 5;
}
.kartina6 img{
    position: absolute;
    display: flex;
    margin-left: 20px;
     margin-top: -18%;
    top: -14%; 
    left: 0;
     z-index: 5;
}

.textinfo{
    font-size: 35px;
    margin: 20px;
}
.about{
    margin-bottom: 30px;
    
}
.textinfo1{
    font-size: 35px;
    margin: 20px;
}
.about1{
    margin-bottom: 30px;
    
}
.text-info1{
     margin-left: 578px;
 
  	

    
}
.textinfo2{
    font-size: 35px;
    margin: 20px;
}
.about2{
    margin-bottom: 30px;
    
}
.text-info2{
     margin-left: 493px;
 
  	

    
}




#header-b{
    width:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    
}
#header-b .bottom{
    width:335px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    z-index:1;
}
#header-b .bottom a{
    position:relative;
    cursor:pointer;
    line-height:1.5;
    text-decoration:none;
    color:#262626
}
#header-b .bottom a:after{
    display:block;
    position:absolute;
    left:0;
    width:0;
    height:1px;
    background-color:#262626;
    content:"";
    -webkit-transition:width 0.25s ease-out;
    -o-transition:width 0.25s ease-out;
    transition:width 0.25s ease-out
}
#header-b .bottom a:hover:after{
    width:100%
}
.f-nav{
    z-index:9999;
    position:fixed;
    top:0;
    width:100%;
    padding-top:20px;
    padding-bottom:15px;
    padding-left: 37%;
    background-color:white;
    -webkit-box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8);
    box-shadow:-1px 8px 12px rgba(200, 200, 200, 0.8)
}




















